@keyframes on{
    0%{width: 1%;}
    25%{width: 25%;}
    50%{width: 50%;}
    75%{width: 85%;}
    100%{width: 100%;}
}
@keyframes off{
    0%{width: 100%;}
    25%{width: 85%;}
    50%{width: 50%;}
    75%{width: 25%;}
    100%{width: 1%;visibility: hidden;}
}
html{
    height: 100vh;
    padding: 0px;
}
body{
    height: 100vh;
    margin: 0px;
}
nav{
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    
}
#logo{
    height: 5vh;
    border: none;
}
#menu{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#logo-container{
    padding: 10px;
}
.nav{
    /*width:14vw;
    */
    width:100%;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    text-decoration:none;
    color:rgb(0,0,0);
    border-radius: 1em;
    background-color: rgb(255,255,255);
}
.nav:hover{
    background-color: rgb(235,235,235);
}
.underline{
    visibility: hidden;
    background-color: rgb(255,0,0);
    width: 1%;
    height: 2px;
    margin-top: 2px;
}
.menu-text-span{
    font-size: 2em;
}
.menu-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
